@import url(fonts.css);
* {
    margin: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbar li {
    display: inline;
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li:first-child {
    float: left;
    margin-left: 16px;
}

.navbar li:first-child a {
    padding: 0;
    margin-top: 4px;
}

.navbar li:first-child > a > h2 {
    float: right;
    margin-left: 16px;
    margin-top: 5%;
}

.navbar li:first-child > a > img {
    height: 3em;
    border-radius: 90px;
}



.navbar li:hover {
    background-color: green;
}

#username {
    font-family: 'JetBrains Mono';
}